.backG{
    border-radius: 50px;
    height: 690px;
    background-color: rgb(196, 196, 196);
    /* opacity: 0.2; */
    
}

.leftBlue{
   width: 200px;
   height: 690px;
   background-color: royalblue; 
   margin-left: -20px;
   border-top-left-radius: 50px;
   border-bottom-left-radius: 50px;
}

.innerBox{
    height: 500px;
    width: 900px;
    background-color: #FFF;
    margin-top: 50px;
    margin-left: 100px  ;
    
}

.boxVideo{
    height:500px;
    width: 450px;
    
    background-image:url(img2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0px;
}

@media all and (max-width: 560px) {
    .backG{
        border-radius: 50px;
        height: 756px;
        background-color: rgb(196, 196, 196);
        /* opacity: 0.2; */
        
    }
    
    .leftBlue{
       width: 150px;
       height: 756px;
       
    }
    
    .innerBox{
        height: 500px;
        width: 350px;
        background-color:  rgb(196, 196, 196);
        margin-top: 2   0px;
        margin-left: 0px;
        
    }
    
    .boxVideo{
        height:250px;
        width: 340px;
        /* background-color: grey; */
        background-image:url(img2.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 18px;
    }

    .boxForm{
        height: 400px;
        width: 500px;
        margin-bottom: 50px;
        border-radius: 10px;
    }
    
    
}